__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/
runs/
debug_crop.jpg
out.txt
.DS_Store
data/leaf_detection_data/
data/plant_village/
data/yolo_dataset/
data/simulated_outputs/
